body{
   
    background-image: url("../images/register.jpg");

    background-size :1366px 768px ;
    color: rgb(0, 0, 0);
    display: flexbox;
    
    
   
}

h1{
    font-size: 50px;
    text-shadow: 2px 3px rgb(99, 98, 98);
    font-family:cursive;
    text-align: center;
}
footer {
    text-align: center;
    padding: 0px;

    
}



.btn-1{
    margin-bottom: 15px;
}
